.contact{
  padding-bottom: 169px;
  &__map{
    width: 60%;
  }
  &__row{
    display: flex;
    justify-content: space-between;
  }
  &__info{
    &-list{
      margin: 42px 0 79px;
      display: flex;
      flex-direction: column;
      row-gap: 13px;
      &-item{
        @include text(500, 20px ,24px, #000);
      }
    }
  }
  &__link{
    justify-content: flex-start;
  }
}